<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
<<<<<<< HEAD
    <title>{{pageTitle}}</title
</head>
<body>
    <main>
        {{{body}}}
    </main>
=======
    <title>{{title}}</title>
</head>
<body>
    <main>{{{body}}}</main>
>>>>>>> c5b270050ab593afd5df1eff7d2584bb1174d993
</body>
</html>