<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <script
        type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4OR__xoGteLldJyCTxt5h0lvURiIKCso&libraries=places"
    ></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" href="/public/css/site.css">
</head>
<body id="main_body" class={{{body-class}}}>
    <main>{{{body}}}

        <div class="unbordered" id="main_nav_div">
            <a href = "" id="gallery_view" class="" hidden>Gallery View</a>
        <a href = "" id="calendar_view" class="" hidden>Calendar View</a>
        <a href = "" id="my_profile" class="" hidden>My Profile</a>
        <!--<a href = "" id="log_out" hidden>Log Out</a>
        <a href = "" id="home_page" hidden>Homepage</a>-->
        
        <a href = "/profile" id="home_page" class="">Profile</a>
        </div>
    
    </main>

    <footer class="" id="main_footer">
        <p class="">MyMemoryMap</p>
        <p class="">Peter Damianov, Kelly DiResto, Ethan Foskey, Matthew Jaworski</p>
        <p class="">Course: CS 546</p>
        <p class="">Semester: 21F</p>
        <p class="">Assignment: Final Project</p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/public/js/main.js"></script>
</body>

</html>
