<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>
<body>
    <main>{{{body}}}</main>
</body>
<a href = "" hidden>Gallery View</a>
<a href = "" hidden>Calendar View</a>
<a href = "" hidden>My Profile</a>
<a href = "" hidden>Log Out</a>
</html>