html {
    display: table;
    vertical-align: middle;
    margin: auto;
    width: 100%;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: #fbfcfc;
    max-width: 100%;
    padding: auto;
    display: table;
    vertical-align: middle;
    margin: auto;
}

h1 {
    color: #17202A;
}

a {
    padding: 4%;
}

input {
    margin-bottom: 2%;
}

label {
    font-size: 0.75rem;
    margin-top: 2%;
    margin-bottom: 2%;
}

footer {
    border: solid #17202A 4px;
    padding: auto;
    width: 100%;
    margin-top: 5%;
    text-align: center;
    font-size: 0.75rem;
}

.bordered {
    border: solid #17202A 4px;
    padding: auto;
    width: 100%;
    margin: 0 auto;
    margin: 5%;
    text-align: center;
    align-items: center;
}


.unbordered {
    border: none;
    margin-top: 5%;
    padding: auto;
    width: 100%;
    text-align: center;
    align-items: center;
}


.form_wrapper {
    text-align: center;
    align-items: center;
}



input[type=text], input[type=password], select {
    width: 100%;
    padding: auto;
    border: solid #17202A 2px;
    border-radius: 2px;
    font-size: 1rem;
    display: inline-block;
    box-sizing: border-box;
  }


  input[type=submit], select {
    background-color: none; /* Green */
    border: solid #17202A 2px;
    border-radius: 2px;
    color: #17202A;
    padding: 2.5%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.25rem;
    margin: auto;
    margin-top: 5%;
    transition-duration: 0.4s;
    cursor: pointer;
  }


  .button1 {
    background-color: #fbfcfc; 
    color: #17202A; 
    border: 2px solid #17202A;
  }
  
  .button1:hover {
    background-color: #17202A;
    color: white;
  }


  /*_______________________This is where the dark mode stuff starts_______________________*/




.body_dark {
    font-family: Helvetica, sans-serif;
    background-color: #34495E;
    color: #fbfcfc;
    max-width: 100%;
    padding: auto;
    display: table;
    vertical-align: middle;
    margin: auto;
}

.body_dark a{
    color: #fbfcfc;
}

.h1_dark {
    color: #fbfcfc;
}


.footer_dark {
    border: solid #fbfcfc 4px;
    padding: auto;
    width: 100%;
    margin-top: 5%;
    text-align: center;
    font-size: 0.75rem;
}

.bordered_dark {
    border: solid #fbfcfc 4px;
    padding: auto;
    width: 100%;
    margin: 0 auto;
    margin: 5%;
    text-align: center;
    align-items: center;
}


.button1_dark {
    background-color: #34495E; 
    color: #fbfcfc; 
    border: 2px solid #fbfcfc;
  }
  
.button1_dark:hover {
    background-color: #fbfcfc;
    color: #34495E;
  }



/*_______________________This is where the Tritanopia stuff starts_______________________*/



  .body_t {
    font-family: Helvetica, sans-serif;
    background-color: #abbecd;
    color: #9a3032;
    max-width: 100%;
    padding: auto;
    display: table;
    vertical-align: middle;
    margin: auto;
}

.body_t a{
    color: #9a3032;
}

.h1_t {
    color: #9a3032;
}


.footer_t {
    border: solid #9a3032 4px;
    padding: auto;
    width: 100%;
    margin-top: 5%;
    text-align: center;
    font-size: 0.75rem;
}

.bordered_t {
    border: solid #9a3032 4px;
    padding: auto;
    width: 100%;
    margin: 0 auto;
    margin: 5%;
    text-align: center;
    align-items: center;
}


.button1_t {
    background-color: #abbecd; 
    color: #9a3032; 
    border: 2px solid #9a3032;
  }
  
.button1_t:hover {
    background-color: #9a3032;
    color: #abbecd;
  }

  /*_______________________This is where the Deutanopia stuff starts_______________________*/

  .body_d {
    font-family: Helvetica, sans-serif;
    background-color: #253d60;
    color: #85a7f5;
    max-width: 100%;
    padding: auto;
    display: table;
    vertical-align: middle;
    margin: auto;
}

.body_d a{
    color: #85a7f5;
}

.h1_d {
    color: #85a7f5;
}


.footer_d {
    border: solid #85a7f5 4px;
    padding: auto;
    width: 100%;
    margin-top: 5%;
    text-align: center;
    font-size: 0.75rem;
}

.bordered_d {
    border: solid #85a7f5 4px;
    padding: auto;
    width: 100%;
    margin: 0 auto;
    margin: 5%;
    text-align: center;
    align-items: center;
}


.button1_d {
    background-color: #253d60; 
    color: #85a7f5; 
    border: 2px solid #85a7f5;
  }
  
.button1_d:hover {
    background-color: #85a7f5;
    color: #253d60;
  }

  /*_______________________This is where the Protanopia stuff starts_______________________*/

  .body_p {
    font-family: Helvetica, sans-serif;
    background-color: #323748;
    color: #ffea86;
    max-width: 100%;
    padding: auto;
    display: table;
    vertical-align: middle;
    margin: auto;
}

.body_p a{
    color: #ffea86;
}

.h1_p {
    color: #ffea86;
}

.footer_p {
    border: solid #ffea86 4px;
    padding: auto;
    width: 100%;
    margin-top: 5%;
    text-align: center;
    font-size: 0.75rem;
}

.bordered_p {
    border: solid #ffea86 4px;
    padding: auto;
    width: 100%;
    margin: 0 auto;
    margin: 5%;
    text-align: center;
    align-items: center;
}


.button1_p {
    background-color: #323748; 
    color: #ffea86; 
    border: 2px solid #ffea86;
  }
  
.button1_p:hover {
    background-color: #fbfcfc;
    color: #323748;
  }

  #map {
    height: 400px;
    width: 100%;
}