<header>
    <h2>Welcome to your calendar view!</h2>
</header>

<form id="set_date">
    <label for="month">Enter Month:</label>
    <input type="text" id="month" name="month">

    <label for="month">Enter Day:</label>
    <input type="text" id="day" name="day">

    <label for="month">Enter Year:</label>
    <input type="text" id="year" name="year">
</form>

<table id="calendar"></table>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/public/js/calendarScript.js"></script>

