<h2>{{pageTitle}}</h2>

<form action="/memory" method = POST>
    <label for = "title">Title:</label><br>
    <input type="text" id="title" name="title" value=""><br>
    <label for = "description">Description:</label><br>
    <input type="text" id="description" name="description" value=""><br>
    <label for = "date">Date:</label><br>
    <input type="text" id="date" name="date" value=""><br>
    <label for = "location">Location:</label><br>
    <input type="text" id="location" name="location" value=""><br>
    <label for = "userId">UserId:</label><br>
    <input type="text" id="userId" name="userId" value=""><br>
    <label for = "visibility">Visibility:</label><br>
    <input type="text" id="visibility" name="visibility" value=""><br>
    <input type="submit" value="Submit">
</form> 
    {{!-- {{#if hasErrors}}
    <ul class="error-list">
        {{#each errors}}
        <li>
        {{this}}
        </li>
        {{/each}}
    </ul>
    {{/if}} --}}
    <a href="/memory/update">Update an existing Memory</a>