<h1 id="">{{pageTitle}}</h1>

<form action="/memory" method = POST id="create_mem">
    <label for = "title" id="create_title_label">Title:</label><br>
    <input type="text" id="title" name="title" value=""><br>
    <label for = "description" id="create_title_label">Description:</label><br>
    <input type="text" id="description" name="description" value=""><br>
    <label for = "date" id="create_date_label">Date (Day(DD)-Month(MM)-Year(YYYY)):</label><br>
    <input type="text" id="date" name="date" value=""><br>
    <label for = "location" id="create_location_label">Location:</label><br>
    <input type="text" id="location" name="location" value=""><br>
    <label for = "visibility" id="create_visibility_label">Visibility:</label><br>
    <input type="text" id="visibility" name="visibility" value=""><br>
    <input type="submit" id="create_submit" value="Submit">
</form>
<script src = "/public/js/create.js"></script>
{{!-- <a href="/memory/update" id="create_update_memory">Update an existing Memory</a> --}}
    
