<header>
    <h2> Here are all your created memories: </h2>
</header>

<div>
    <h3>Filter Memories</h3>
    <br>
    <form id="sorts_filter" method="POST">
        <label for="sorts">Sort by Type:</label>
        <select id="sorts" name="sorts">
            <option value="titleaz">by Title (A-Z)</option>
            <option value="date">by Date</option>
            <option value="location">by Location</option>
        </select>

        <label for="filters">Filter by...</label>
        <select id="filters" name="filters">
            <option value="imgmems">Memories with images</option>
            <option value="noimgmems">Memories without images</option>
        </select>
        <br>
        <input type="submit">
    </form>
</div>

<div>
    {{#if memories}}
        <dl>
            {{#each memories}}
            <dt>
                <a href="/memory/{{this._id}}">{{this.title}}</a>
            </dt>
            <dd>
                {{this.description}}
            </dd>
            {{/each}}
        </dl>
    {{/if}}
</div>

<script src="/public/js/galleryFilters.js"></script>