<header>
    <h2> Here are all your created memories: </h2>
</header>

<div>
    <h3>Filter Memories</h3>
    <br>
    <form id="sort_filter" method="POST">
        <label for="sorts">Sort by...</label>
        <select id="sorts" name="sorts" class="gallery">
            <option value="titleaz">by Title (A-Z)</option>
            <option value="date">by Date</option>
            <option value="location">by Location</option>
            <option value="regular">No Sort</option>
        </select>

        <label for="filters">Filter by...</label>
        <select id="filters" name="filters" class="gallery">
            <option value="imgmems">Memories with images</option>
            <option value="noimgmems">Memories without images</option>
            <option value="all">No Filter</option>
        </select>
        <br>
        <input type="submit">
    </form>
</div>

<dl id="memoryList"></dl>

<div>
    <br>
    <a href="/calendar">See my Calendar</a>
    <br><br>
    <a href="/profile">Return to Profile</a>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/public/js/galleryFilters.js"></script>