<header>
    <h2> Here are all your created memories: </h2>
</header>

<div>
    <h3>Filter Memories</h3>
    <br>
    <form id="filters" method="POST">
        <label></label>
    </form>
</div>

{{#if memories}}
<ul>
    {{#each memories}}
        <li>

        </li>
    {{/each}}
</ul>
{{/if}}