<main>
<h1 id="the-heading">Search Other Users</h1>
    <p id = "error">{{{error}}}</p>
    <form id="searchForm" method = "POST" action = "/search">
        <label id="formLabel" for="search_term">Enter Username to Search:</label>
        <input type="text" id="search_term" />
        <button type="submit">Submit</button>
    </form>

<div>
    <br>
    <a href="/profile">Back to My Profile</a>
    <br>
</div>
<script src="/public/js/main.js"></script>
<script src="/public/js/profileSearch.js"></script>

</main>