<main>
    <h1 id="signup_h1">Signup Form</h1>

    <form method="POST" id="signup-form">

        <input type="text" id="firstName" name="firstName"></input>
        <label for="firstName" id="firstName_label">First Name</label>

        <br>
        
        <input type="text" id="lastName" name="lastName"></input>
        <label for="lastName" id="lastName_label">Last Name</label>

        <br>

        <input type="text" id="email" name="email"></input>
        <label for="email" id="email_label">Email</label>

        <br>
        
        <input type="text" id="gender" name="gender"></input>
        <label for="gender" id="gender_label">Gender</label>

        <br>

        <input type="text" id="age" name="age"></input>
        <label for="age" id="age_label">Age</label>

        <br>
 
        <input type="text" id="username" name="username"></input>
        <label for="username" id="username_label">Username</label>

        <br>

        <input type="password" id="password" name="password"></input>
        <label for="password" id="password_label">Password</label>

        <br>
    
        <input type="submit" id="searchTermSubmit" name="searchTermSubmit"><br>
        <label for="searchTermSubmit" cid="searchTermSubmit_label">Submit Form</label>
    </form>

</main>
