<main>
    <h1>Signup Form</h1>

    <form method="POST" id="signup-form">

        <input type="text" id="firstName" name="firstName"></input>
        <label for="firstName">First Name</label>

        <br>
        
        <input type="text" id="lastName" name="lastName"></input>
        <label for="lastName">Last Name</label>

        <br>

        <input type="text" id="email" name="email"></input>
        <label for="email">Email</label>

        <br>
        
        <input type="text" id="gender" name="gender"></input>
        <label for="gender">Gender</label>

        <br>

        <input type="text" id="age" name="age"></input>
        <label for="age">Age</label>

        <br>
 
        <input type="text" id="username" name="username"></input>
        <label for="username">Username</label>

        <br>

        <input type="password" id="password" name="password"></input>
        <label for="password">Password</label>

        <br>
    
        <input type="submit" id="searchTermSubmit" name="searchTermSubmit"><br>
        <label for="searchTermSubmit">Submit Form</label>
    </form>

</main>
