<main>
    <h1 id="signup_h1">Signup Form</h1>

    <form method="POST" id="signup-form">
        <div id= "error" hidden>Cannot leave any fields empty</div>
        <label for="firstName" id="firstName_label">First Name</label>
        <input type="text" id="firstName" name="firstName"></input>

        <br>

        <label for="lastName" id="lastName_label">Last Name</label>
        <input type="text" id="lastName" name="lastName"></input>

        <br>

        <label for="email" id="email_label">Email</label>
        <input type="text" id="email" name="email"></input>

        <br>
        
        <label for="gender" id="gender_label">Gender</label>
        <input type="text" id="gender" name="gender"></input>

        <br>

        <label for="age" id="age_label">Age</label>
        <input type="text" id="age" name="age"></input>

        <br>

        <label for="username" id="username_label">Username</label>
        <input type="text" id="username" name="username"></input>

        <br>

        <label for="password" id="password_label">Password</label>
        <input type="password" id="password" name="password"></input>

        <br>
    
        <input type="submit" id="searchTermSubmit" name="searchTermSubmit"><br>
        <label for="searchTermSubmit" cid="searchTermSubmit_label">Submit Form</label>
    </form>
    <script src = "/cs546_group10_final_project/public/js/signup.js"></script>
</main>
